<div class="card border-light mb-3" style="width: 40rem;" >
    <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Product Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Description</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Comments</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
                <label for="formGroupExampleInput2">Attach File</label>
              <input type="text" class="form-control" placeholder="Attach File">
            </div>
            <div class="col">
                <label for="formGroupExampleInput2">Price</label>
              <input type="text" class="form-control" placeholder="Final Price">
            </div>
          </div>
          </div>
            <div class="form-group " style="text-align: right; margin-top: 15px;">
                <button type="button" class="btn btn-outline-primary">Add</button>
            </div>
      </form>
</div>
