<link href="./home.component.css" rel="stylesheet">

<div class="p-5" style="width: 100%;">
    <div *ngFor = "let number of numbers" style="display: inline-block; padding: 15px;" >
<div class="card " style="width: 18rem;">
    <img src="..." class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Get Quotation</h5>
      <p class="card-text">Click to know more</p>
      <a routerLink="/dashboard" class="btn" (click)="getQuotation()">click here</a>
    </div>
  </div>
  </div>
</div>
  